<nav class="navbar navbar-expand-lg fixed-top bg-main px-3">
  <div class="container">
    <img src="./assets/images/images.png" class="w-5" alt="to do image">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-main pointer" (click)="logOut()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>